<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <GoogleAdsApi>
    <!--
      This section contains the settings specific to Google Ads API DotNet Client Library.
      You can use the App.config / Web.config for quickly configuring and running a simple
      application. However, it is not mandatory to provide your settings in the config file,
      you may also set or override these settings at runtime. See
      https://github.com/googleads/google-ads-dotnet/wiki/Configuring-the-client-library
      for more details.
    -->

    <!-- Settings related to general library behaviour. -->

    <!-- Set the service timeout in milliseconds. -->
    <add key="Timeout" value="10000" />

    <!-- Proxy settings for library. -->
    <!--
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>
    -->

    <!-- Settings specific to Google Ads API.-->

    <!-- See https://developers.google.com/adwords/api/docs/signingup for
         instructions on signing up for a developer token.-->
    <add key="DeveloperToken" value="INSERT_YOUR_DEVELOPER_TOKEN_HERE"/>

    <!-- Settings specific to use OAuth2 as authentication mechanism. You could
         run Authenication\AuthenticateInStandaloneApplication example to generate this
         section of the config file.
    -->
    <!-- Provide the OAuth2 client ID and secret. See
         https://developers.google.com/google-ads/api/docs/oauth/cloud-project for instructions.
      -->
    <add key="OAuth2ClientId" value="INSERT_OAUTH2_CLIENT_ID_HERE"/>
    <add key="OAuth2ClientSecret" value="INSERT_OAUTH2_CLIENT_SECRET_HERE"/>

    <!-- The following OAuth2 settings are optional. -->

    <!-- Provide a different OAuth2 scope if required. Multiple scopes should be
           separated by spaces. -->
    <!-- <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" /> -->

    <!-- Use the following keys if you want to use Web / Installed application
           OAuth flow.-->
    <add key="OAuth2Mode" value="APPLICATION"/>
    <!-- If you are using a single AdWords manager account's credentials to make
           calls to all your accounts, then you can run AuthenticateInStandaloneApplication
           example to generate a RefreshToken for that account and set this key
           in your application's App.config / Web.config. If you are making calls to
           multiple unrelated accounts, then see the following wikis for details:
           (1) Web application: https://github.com/googleads/google-ads-dotnet/wiki/API-access-on-behalf-of-your-clients-(web-flow)
           (2) Installed application: https://github.com/googleads/google-ads-dotnet/wiki/API-access-using-own-credentials-(installed-application-flow)
      -->

    <add key="OAuth2RefreshToken" value="INSERT_OAUTH2_REFRESH_TOKEN_HERE"/>
    <!-- Optional: Specify an OAuth2 redirect url if you are building a
           web application and implementing OAuth2 web flow in your application.
      -->

    <!-- Use the following keys if you want to use OAuth2 service account flow.
         You should comment out all the keys for Web / Installed application
         OAuth flow above.
    -->
    <!--
      <add key="OAuth2Mode" value="SERVICE_ACCOUNT" />
      <add key="OAuth2PrnEmail" value="INSERT_OAUTH2_USER_EMAIL_HERE" />
      <add key="OAuth2SecretsJsonPath" value="INSERT_OAUTH2_SECRETS_JSON_FILE_PATH_HERE" />
    -->
  </GoogleAdsApi>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.33.0.0" newVersion="1.33.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.33.0.0" newVersion="1.33.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.33.0.0" newVersion="1.33.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup></configuration>