<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <GoogleAdsApi>
    <!--
      This section contains the settings specific to Google Ads API DotNet Client Library.
      You can use the App.config / Web.config for quickly configuring and running a simple
      application. However, it is not mandatory to provide your settings in the config file,
      you may also set or override these settings at runtime. See
      https://github.com/googleads/google-ads-dotnet/wiki/Configuring-the-client-library
      for more details.
    -->

    <!-- Settings related to general library behaviour. -->

    <!-- Set the service timeout in milliseconds. -->
    <add key="Timeout" value="10000" />
    
    <!-- Proxy settings for library. -->
    <!--
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>
    -->
    
    <!-- Settings specific to Google Ads API.-->

    <!-- See https://developers.google.com/adwords/api/docs/signingup for
         instructions on signing up for a developer token.-->
    <add key="DeveloperToken" value="INSERT_YOUR_DEVELOPER_TOKEN_HERE"/>
  
    <!-- Settings specific to use OAuth2 as authentication mechanism. You could
         run Authenication\AuthenticateInStandaloneApplication example to generate this
         section of the config file.
    -->
    <!-- Provide the OAuth2 client ID and secret. See
         https://developers.google.com/google-ads/api/docs/oauth/cloud-project for instructions.
      -->
    <add key="OAuth2ClientId" value="INSERT_OAUTH2_CLIENT_ID_HERE"/>
    <add key="OAuth2ClientSecret" value="INSERT_OAUTH2_CLIENT_SECRET_HERE"/>
  
    <!-- The following OAuth2 settings are optional. -->

    <!-- Provide a different OAuth2 scope if required. Multiple scopes should be
           separated by spaces. -->
    <!-- <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" /> -->
    
    <!-- Use the following keys if you want to use Web / Installed application
           OAuth flow.-->
    <add key="OAuth2Mode" value="APPLICATION"/>
    <!-- If you are using a single AdWords manager account's credentials to make
           calls to all your accounts, then you can run AuthenticateInStandaloneApplication
           example to generate a RefreshToken for that account and set this key
           in your application's App.config / Web.config. If you are making calls to
           multiple unrelated accounts, then see the following wikis for details:
           (1) Web application: https://github.com/googleads/google-ads-dotnet/wiki/API-access-on-behalf-of-your-clients-(web-flow)
           (2) Installed application: https://github.com/googleads/google-ads-dotnet/wiki/API-access-using-own-credentials-(installed-application-flow)
      -->
  
    <add key="OAuth2RefreshToken" value="INSERT_OAUTH2_REFRESH_TOKEN_HERE"/>
    <!-- Optional: Specify an OAuth2 redirect url if you are building a
           web application and implementing OAuth2 web flow in your application.
      -->
    
    <!-- Use the following keys if you want to use OAuth2 service account flow.
         You should comment out all the keys for Web / Installed application
         OAuth flow above.
    -->
    <!--
      <add key="OAuth2Mode" value="SERVICE_ACCOUNT" />
      <add key="OAuth2PrnEmail" value="INSERT_OAUTH2_USER_EMAIL_HERE" />
      <add key="OAuth2SecretsJsonPath" value="INSERT_OAUTH2_SECRETS_JSON_FILE_PATH_HERE" />
    -->

    <!-- Required for manager accounts only: Specify the login customer ID used to authenticate
         API calls. This will be the customer ID of the authenticated manager account. It should
         be set without dashes, for example: 1234567890 instead of 123-456-7890. You can also
         specify this later in code if your application uses  multiple manager account OAuth pairs.
    -->
    <!--
        <add key = 'LoginCustomerId' value = 'INSERT_LOGIN_CUSTOMER_ID_HERE' />/n/n
    -->
  </GoogleAdsApi>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>